.page-about {
    margin:20px;
}

.meet-team-line {
    opacity: 75%;
    border:0.5px solid rgb(195, 195, 205);
}

.meet-team-title {
    &__heading1 {
        font-size: 40px;
    }
    &__heading2 {
        font-size: 30px;
    }
}

.member-affiliation {
    size: 18px;
    font-style: italic;
    color:#706f79;
}

.meet-team-grid {
    margin-top: 30px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-auto-rows: 1fr;
    row-gap: 30px;
    column-gap: 10px;
    .team-img {
        width:15vw;
        height:20vw;
        // border:1px dashed rgb(214, 204, 204);
        object-fit: cover; //could also do contain instead of cover, depends on what looks better for the img
        box-shadow: 0px -10px 30px #ccc;
    }
    .member-label {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
    .member-affiliation {
        text-align: center;
    }
    .member-desc {
        text-align: center;
    }
    .team-member {
        display: grid;
        justify-items: center;
    }
}

.meet-team-grid-prof {
 @extend .meet-team-grid;
 grid-template-columns: 1fr;
 margin-bottom: 20px;
}


@media (max-width: 1000px) {
    .meet-team-grid {
        grid-template-columns: 1fr 1fr 1fr;
        .team-img {
            width:25vw;
            height:30vw;
        }
    }
    .meet-team-grid-prof {
        grid-template-columns: 1fr;
       }
}

.caphe-img img {
    height:200px;
    width:200px;
}

.partnerships-entire {
    display: grid;
    grid-template-rows:1fr;
    margin-top:20px;
    padding-bottom:20px;
}

.partnerships-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    padding: 0;

    .partnerships-item {
        padding:10px;
        max-height:30vw;
        display:grid;
        justify-items: center;

        .partnerships-img {
            width:75%;
            max-height:20vw;
        }
        .partnerships-text {
            display: grid;
            align-self: end;
            font-weight: bold;
            text-align: center;
            margin-top: 20px;
        }
    }
}

.community-partners-container {
    display: grid;
    grid-template-rows:1fr;
    margin-top:20px;
    padding-bottom:20px;

    .community-partners-list {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        list-style-type: none;
        padding: 0;

        .community-partners-item {
            padding:10px;
            max-height:30vw;
            display:grid;
            justify-items: center;

            .community-partners-img {
                width:75%;
                max-height:20vw;
            }
            .community-partners-text {
                display: grid;
                align-self: end;
                font-weight: bold;
                text-align: center;
                margin-top: 20px;
            }
        }
    }
}

.gov-partners-container {
    display: grid;
    grid-template-rows:1fr;
    margin-top:20px;
    padding-bottom:20px;
    margin-left:100px;
    margin-right:100px;

    .gov-partners-list {
        display:grid;
        grid-template-columns: 1fr 1fr;
        list-style-type: none;
        padding: 0;

        .gov-partners-item {
            padding:10px;
            max-height:30vw;
            display:grid;
            justify-items: center;

            .gov-partners-img {
                width:75%;
                max-height:20vw;
            }
            .gov-partners-text {
                display: grid;
                align-self: end;
                font-weight: bold;
                text-align: center;
                margin-top: 20px;
            }
        }
    }
}

.academic-partners-container {
    display: grid;
    margin-top:20px;
    padding-bottom:20px;

    .academic-partners-list {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;

        .academic-partners-item {
            padding:10px;
            max-height:30vw;
            display:grid;
            justify-items: center;

            .academic-partners-img {
                width:75%;
                max-height:20vw;
                padding: 10px;
            }
            .academic-partners-text {
                display: grid;
                font-weight: bold;
                text-align: center;
                margin-top: 20px;
            }
            .academic-partners-sublist {
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                align-self: end;
                padding: 0;
                .academic-partners-sublist-item {
                    display:grid;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .meet-team-grid {
        grid-template-columns: 1fr;
        .team-img {
            width:200px;
            height:250px;
        }
    }
    .meet-team-title__heading2 {
        text-align: center;
    }
    .caphe-img-container {
        display:flex;
        justify-content: center;
        width:100%;
    }
    .caphe-img img {
        justify-content: center;
    }
}

.caphe-list-container {
    display:grid;
    padding-left:0;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    .caphe-list-item {
        width:100%;
        display:grid;
        margin-bottom:15px;
        padding-bottom: 20px;
        padding-top: 20px;
        border:1px solid black;
        padding-left:5px;
        padding-right:5px;
        border-radius: 16px;
    }
    .caphe-list-item:nth-child(1) {
        background-color: #b2d492;
    }
    .caphe-list-item:nth-child(2) {
        background-color: #97d492;
    }
    .caphe-list-item:nth-child(3) {
        background-color: #92d4c5;
    }
    .caphe-list-item:nth-child(4) {
        background-color: #92cdd4;
    }
    .caphe-list-item:nth-child(5) {
        background-color: #92b5d4;
    }
}

@media (max-width: 1000px) {
    .caphe-list-container {
        .caphe-list-item {
            align-content: center;
            text-align: center;
        }
    }
}

@media (max-width:850px) {
    .academic-partners-container {
        margin-bottom:30px;
        .academic-partners-list {
            .academic-partners-item {
                .academic-partners-sublist {
                    display: grid;
                    grid-template-rows: 1fr 1fr 1fr;
                    max-height: 12px;
                    align-self: end;
                    margin-bottom: 20px;
                    padding-bottom: 12px;
                }
            }
        }
    }
}

@media (max-width:800px) {
    .community-partners-container {
        .community-partners-list {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 10px;
        }
    }
    .gov-partners-container {
        margin-left:0px;
        margin-right:0px;
    }
}

@media (max-width: 700px) {
    .caphe-list-container {
        justify-items: center;
        display:grid;
        grid-template-columns: 1fr;
        .caphe-list-item {
            width:60%;
        }
    }
}

@media (max-width:650px) {
    .academic-partners-container {
        margin-bottom:15vw;
        .academic-partners-list {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 600px) {
    .caphe-list-container {
        .caphe-list-item {
            width:75%;
        }
    }

    .academic-partners-container {
        margin-bottom:20vw;
        .academic-partners-list {
            margin-bottom: 20px;
        }
    }
}

.sponsor-img-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    .sponsor-img {
        width:100%;
    }
}

@media (max-width: 700px) {
    .sponsor-img-container {
        grid-template-columns: 1fr;
        row-gap: 10px;
        justify-items: center;
        .sponsor-img {
            width:75%;
        }
    }
}

@media (max-width: 500px) {
    .sponsor-img-container {
        .sponsor-img {
            width:100%;
        }
    }
    .partnerships-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        
    
        .partnerships-item {
            padding:10px;
            max-height:60vw;
            display:grid;
            justify-items: center;
    
            .partnerships-img {
                width:50%;
                height: 100%;
                max-height:40vw;
            }
            .partnerships-text {
                display: grid;
                align-self: end;
                font-weight: bold;
                text-align: center;
                margin-top: 5px;
            }
        }
    }

    .community-partners-container {
        .community-partners-list {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            row-gap: 10px;
            .community-partners-item {
                padding:10px;
                max-height:50vw;
                display:grid;
                justify-items: center;
        
                .community-partners-img {
                    width:50%;
                    height: 100%;
                    max-height:40vw;
                }
            }
        }
    }

    .gov-partners-container {
        .gov-partners-list {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 10px;
            .gov-partners-item {
                padding:10px;
                max-height:50vw;
                display:grid;
                justify-items: center;
        
                .gov-partners-img {
                    width:75%;
                    height: 100%;
                    max-height:40vw;
                }
                .gov-partners-text {
                    margin-top: 5px;
                }
            }
        }
    }

    .academic-partners-container {
        margin-bottom:18px;
        .academic-partners-list {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            row-gap: 20px;
            
            .academic-partners-item {
                padding:10px;
                max-height:50vw;
                display:grid;
                justify-items: center;
        
                .academic-partners-img {
                    width:60%;
                    height: 100%;
                    max-height:40vw;
                }
                .academic-partners-text {
                    margin-top: 5px;
                }
            }
        }
    }
}