@use './variables' as variables;

.page-faq {
    margin:20px;
}

.faq-line {
    opacity: 75%;
    border:0.5px solid rgb(195, 195, 205);
}

.health-effects-table {
    border-collapse: separate;
    border-spacing: 0px;
    border-bottom:3px solid black;
    thead {
        .effect-labels{
            background-color: #84a4cb;
            th {
                border-bottom:3px solid black;
                border-top: 3px solid black;
                text-align: left;
            }
        }
        .pollutant-labels {
            background-color: white;
            th {
                background-color: white;
                min-width: 60px;
            }
            
        }
    }
    tbody {
        td {
            text-align: center;
            border-bottom: 1px solid black;
        }
        .effect-desc {
            text-align: left;
        }
    }
}
.health-effects-table-container {
    overflow-x: scroll;
}

.aqi-table-container {
    .aqi-table {
        .aqi-table-desc {
            max-width: 400px;
        }
        border:2px solid black;
        tbody {
            .aqi-table-row {
                &:nth-of-type(odd) {
                    background-color: variables.$us-epa-green;
                }
                &:nth-child(2) {
                    background-color: variables.$us-epa-yellow;
                }
                &:nth-child(3) {
                    background-color: variables.$us-epa-orange;
                }
                &:nth-child(4) {
                    background-color: variables.$us-epa-red;
                }
                &:nth-child(5) {
                    background-color: variables.$us-epa-purple;
                    color:white;
                }
                &:nth-child(6) {
                    background-color: variables.$us-epa-maroon;
                    color:white;
                }
                
            }
        }
    }
    &.less-saturated {
        .aqi-table {
            tbody {
                .aqi-table-row {
                    background-color: white; // Adjust color as needed
                    color:black
                }
            }
        }
    }
}

.naaqs-table-container {
    overflow-x: scroll;
    .naaqs-table {
        max-width: 100%;
    }
}

.provider-table-container {
    margin-top: 50px;
    margin-bottom: 30px;
    .provider-table {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-left: 0;

        .provider-item {
            display:grid;
            justify-content: center;
            justify-items: center;
            width:100%;
            display:grid;
            margin-bottom:15px;
            padding-bottom: 20px;
            padding-top: 20px;
            border:1px solid black;
            padding-left:5px;
            padding-right:5px;
            border-radius: 16px;
            color:navy;
            font-weight: bold;
            img {
                max-width: 300px;
            }
        }
        a:hover .provider-item {
            color: grey;
        }
        a:nth-child(1) .provider-item {
            background-color: #b2d492;
        }
        a:nth-child(2) .provider-item {
            background-color: #97d492;
        }
        a:nth-child(3) .provider-item {
            background-color: #92d4c5;
        }
        a:nth-child(4) .provider-item {
            background-color: #92cdd4;
        }
        a:nth-child(5) .provider-item {
            background-color: #92b5d4;
        }
    }
}

@media (max-width: 975px) {
    .provider-table-container {
        .provider-table {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
    }
}

@media (max-width: 850px) {
    .naaqs-table-container {
        .naaqs-table {
            max-width: 200%;
        }
    }
}

@media (max-width: 800px) {
    .health-effects-table {
        border:3px solid black;
        tbody {
            .effect-desc {
                min-width: 400px;
            }
        }
    }
}

@media (max-width: 700px) {
    .provider-table-container {
        .provider-table {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        }
    }
}

@media (max-width:600px) {
    .aqi-table-container {
        overflow-x: scroll;
        .aqi-table {
            td {
                min-width: 100px; 
            }
            .aqi-table-desc {
                min-width: 500px;
            }
        }
    }
}

@media (max-width: 550px) {
    .naaqs-table-container {
        .naaqs-table {
            max-width: 300%;
        }
    }
}
.faq-table-toggle {
    cursor: pointer;
}