@use './variables' as variables;
@use './badges';
@use './buttons-2';
@use './inputs/index';
@use './resets';
@use './bubbles';
@use './utils';
@use './mixins/index' as mixins;
@use './horizontal-rule';
@use './location-detail-card';

@use './datatab';
@use './flip-card';
@use './breadcrumbs';
@use './buttons' as *;
@use 'header';
@import './map-card';
@import './progress-bar';
@import './tooltips';
@import './map-legend';
@import './line-chart';
@import './location-detail';
@import './help';
@import './mapbox';
@import './charts';
@import './map';
@import './detail-map';
@import './utils';
@import './markers';
@import './about';
@import './faq';

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}
* {
  text-decoration:none;
}
.header-logo {
  font-family:'Courier New', Courier, monospace;
  font-weight: bolder;
}

.header-section {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.subtitle3 {
  @include mixins.subtitle3;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.text-white {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.page-data {
  position: relative;
  align-items: center;
  justify-content: center;
  display:flex;
}

.page-404 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px - 250px);

  .bubble-lg {
    z-index: -1;
    position: absolute;
    left: -100px;
    top: 30px;
  }

  .bubble-sm {
    z-index: -1;

    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

.date-input {
  height: 40px;
  width: 150px;
  border-radius: 14px;
  border: 1px solid #d0d5dd;
  padding: 0 20px;
  margin: 0 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

svg {
  text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  }
}

.pointer {
  cursor: pointer;
}

.aqi-bar, .aqi-bar::-webkit-meter-bar{
  margin:0;
  padding:0;
  background-image: linear-gradient(
    90deg,
    green 0%, 
    green 20%,
    gold 20%,
    gold 40%,
    orange 40%,
    orange 60%,
    red 60%,
    red 80%,
    purple 80%,
    purple 100%,
  );
  width:100%;
}

.aqi-bar::-webkit-meter-optimum-value, .aqi-bar::-webkit-meter-suboptimum-value, .aqi-bar::-webkit-meter-even-less-good-value {
  background: transparent;
  border-right: 5px solid black;
}

.aqi-bar::-moz-meter-bar {
background: transparent;
border-right: 5px solid black;
}

.aqi-arrow, .aqi-arrow::-webkit-meter-bar {
  margin:0;
  padding:0;
  background-image: linear-gradient(
    90deg,
    transparent 0%, 
    transparent 100%,
  );
  width:100%;
}

.aqi-arrow::-webkit-meter-optimum-value {
  border-right: 3px solid black;
  background-image: linear-gradient(
    90deg,
    transparent 0%, 
    transparent 100%,
  );
}

.aqi-arrow::-moz-meter-bar {
  border-right: 3px solid black;
  background-image: linear-gradient(
    90deg,
    transparent 0%, 
    transparent 100%,
  );
}
